h2 {
  font-family: "Krona One", sans-serif;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.category-buttons button{
    margin: 10px;
    width: 110px;
    height: 35px;
    border-radius: 50px;
    border: none;
    background: #FFFBEA;
    font-size: 22px;
    font-family: "Karla", sans-serif;

}