img {
  height: 40px;
  width: 40px;
}
.selected-item {
  border: solid 3px #ff7a00;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 1px;
}
/* Row */
.row {
  min-height: 197px;
  transform: translatex(0px) translatey(0px);
}

/* Column 4/12 */
.col-4 {
  min-height: 86px;
  height: 95px;
}

/* Division */
.mt-4 div .row .col-4 div {
  transform: translatex(0px) translatey(10px);
}
