header
{
  background-image: url("/assets/imgs/Contact/background.png");
  height: 563px;
  background-size: inherit;
}

main {
  height: 600px;
  overflow: visible;
  background-color: #fffbea;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 60%;
  margin: auto;
}
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1; /* Adapt based on the layout */
  /* Remove any fixed height if previously set */
}