main{
  height:600px;
  overflow:visible;
  background-color: #FFFBEA;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 60%;
  margin: auto;
}

.grid-item {
  padding: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  flex: 1; /* Start with equal size */
}
