<main>
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-3"><app-under-category></app-under-category></div>
      <div class="col-4"><app-category-div></app-category-div></div>
      <div class="col-3"><app-cart></app-cart></div>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-3"><app-products-of-category></app-products-of-category></div>
      <div class="col-4"><app-plate></app-plate></div>
      <div class="col-3"><app-finish-buttons></app-finish-buttons></div>
    </div>
  </div>
</main>
<div class="line"></div>
<div class="cards-section">
  <app-card></app-card>
</div>
