<nav class="navbar">
  <div class="nav-buttons left">
    <button routerLink="/home">Home</button>
    <button routerLink="/buildup">Build Up</button>
  </div>
    <div class="logo-container">
      <svg
        height="120"
        width="150"
        xmlns="http://www.w3.org/2000/svg"
        class="svg1"
        style="position: absolute"
      >
        <path
          id="lineAC"
          d="M 0 42 q 55 0 100 46.5"
          stroke="#FF7A00"
          fill="none"
          stroke-width="25"
        ></path>
      </svg>
      <img src="/assets/imgs/logo.png" alt="Logo" class="logo" />
      <svg
        _ngcontent-ng-c707296853=""
        height="120"
        width="150"
        xmlns="http://www.w3.org/2000/svg"
        class="svg2"
      >
        <g transform="translate(150, 0) scale(-1, 1)">
          <path
            id="lineAC"
            d="M 0 42 q 55 0 100 46.5"
            stroke="#FF7A00"
            fill="none"
            stroke-width="25"
          ></path>
        </g>
      </svg>
    </div>

  <div class="nav-buttons right">
    <button>Contact</button>
    <button>Sign in</button>
  </div>
</nav>
