<header>
  <button class="side-button">Build Your Food</button>
  <button class="home-button">HOME</button>
  <button class="side-button">About Us</button>
</header>
<div class="line"></div>
<main>
    <button><img src="/assets/imgs/Logos/recipes.png" alt=""><p>Recipes</p></button>
    <button><img src="/assets/imgs/Logos/offers-new.png" alt=""><p>Offers</p></button>
    <button><img src="/assets/imgs/Logos/random.png" alt=""><p>Random</p></button>
    <button><img src="/assets/imgs/Logos/menu.png" alt=""><p>Menu</p></button>

</main>